<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Email</title>
</head>
<head>
    <style>
        @media screen and (max-width: 600px) {
            
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td style="background-color: black;">
                <img src="https://blackmonk.pl/img/black-monk-games-logo-1632838248.jpg" alt="Logo">
            </td>
        </tr>
        <tr>
            <td>
                <b>Cześć Katarzyna,</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dziękujemy za zakupy w naszym sklepie! Poniżej znajdziesz informacje o wysyłce oraz listę zakupionych produktów.</p>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        Paczki wysyłamy w ciągu 24h od złożenia zamówienia.
                    </li>
                    <li>
                        Jeżeli przynajmniej jeden z zakupionych produktów jest w PRZEDSPRZEDAŻY, to datę wysyłki należy sprawdzić w opisie tego produktu.
                    </li>
                    <li>
                        Wersje elektroniczne (PDF) wysyłamy w dni robocze między 15:00 a 20:00. Więcej informacji <a href="https://blackmonk.pl/content/15-wysylka-pdf">TUTAJ</a>.
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <b>Zamówienie numer: 12345 (17.12.2025 08:00)</b>
            </td>
        </tr>
    </table>
</body>
</html>