<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<head>
    <style>
        @media screen and (max-width: 600px) {
            
        }
    </style>
</head>
<body style="background-color: #eeeeee; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif;">
    <table style="width: 33%;align-content: center; margin-left: auto; margin-right: auto; height: 100%; border-collapse: collapse;">
        <tr>
            <td style="padding: 0;">
                <table style="background-color: black; padding: 10px; height: 100%; width: 100%;">
                    <tr>
                        <td style="background-color: black;">
                            <img src="https://ci3.googleusercontent.com/meips/ADKq_NYWr-isKqf7y3t-XrqElIIonmDC3Wz1iziOShE3U0wtySAFlivcSOC6syuyDyLTrIDlIFTw4fIN3nYoMoH2HuEDai9A_SLzoRnlSlofTPVeTnTruBaTamnqi3jpXstLvVcoqvy9ZsxDhDWVUXGuKk44eQyxzDsHbIIIPdfIKoa7womLgJHSoA=s0-d-e1-ft#https://nbwduv.stripocdn.email/content/guids/CABINET_46c44f5cacb829aba996f866b8939d8e/images/1831603214618888.jpg" alt="Logo" style="width: 100%;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background-color: #f7f7f7; align-content: center; padding: 30px;  font-size: 14px; height: 100%; width: 100%;">
                    <tr>
                        <td>
                            <p style="margin-top: 0; font-size: 20px"><b>Cześć Katarzyna,</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="line-height: 30px">Dziękujemy za zakupy w naszym sklepie! Poniżej znajdziesz informacje o wysyłce oraz listę zakupionych produktów.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul style="padding-left: 25px">
                                <li style="margin-bottom: 2px">
                                    Paczki wysyłamy w ciągu 24h od złożenia zamówienia.
                                </li>
                                <li style="margin-bottom: 2px">
                                    Jeżeli przynajmniej jeden z zakupionych produktów jest w PRZEDSPRZEDAŻY, to datę wysyłki należy sprawdzić w opisie tego produktu.
                                </li>
                                <li>
                                    <span style="color: grey">Wersje elektroniczne (PDF) wysyłamy w dni robocze między 15:00 a 20:00. Więcej informacji <a href="https://blackmonk.pl/content/15-wysylka-pdf">TUTAJ</a>.</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 45px">
                            <span style="font-size: 16px;"><b>Zamówienie numer: 12345 (17.12.2025 08:00)</b></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background-color: white;align-content: center; font-size: 15px; padding: 30px; height: 100%; width: 100%;">
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Lista produktów:</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px">
                            Smoczy Jeźdźcy: Prawdy Wybrane + PDF - 1x 249.90 PLN
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Koszt wysyłki:</b> 14.90 PLN
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Metoda płatności:</b> Zapłać z <a href="https://www.w3schools.com/tags/tag_colgroup.asp">paynow.pl</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Łączna cena:</b> 264.80 PLN
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px; line-height: 25px">
                            <span>
                                <b>Dane do płatności przelewem bankowym:</b><br>
                                <b>Nazwa banku:</b> TestBank<br>
                                <b>Nr konta:</b> 12 3456 7890 1234 5678 9012 3456<br>
                                <b>Właściciel:</b> Blank Monk<br>
                                <b>Adres:</b> ul. Testowa 1/2, 34-567 Poznań<br>
                                <b>Tytuł przelewu:</b> 12345<br>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding-top: 40px; padding-bottom: 10px;">
                            <a href="https://www.google.pl/index.html" target="_blank" style="text-decoration: none; background-color: #ecb22c; color: white; padding: 16px 24px; font-size: 20px; border-radius: 4px;">Śledź swoje zamówienie</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background-color: #f7f7f7; align-content: center; font-size: 15px; padding: 20px 20px 40px; line-height: 25px; height: 100%; width: 100%;">
                    <tr>
                        <td style="text-align: center; width: 50%;">
                            <b>SKLEP BLACK MONK GAMES</b><br>
                            UL. TESTOWA 1<br>
                            34-567 POZNAN<br>
                        </td>
                        <td style="text-align: center; width: 50%;">
                            <b><a href="https://blackmonk.pl/">BLANKMONK.PL</a></b><br>
                            TEL.: +48123456789<br>
                            <a href="https://blackmonk.pl/">test@test.pl</a><br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background-color: white; align-content: center; padding: 10px 10px 5px; height: 100%; width: 100%;">
                    <tr>
                        <td style="text-align: center; padding-top: 40px;">
                            <a href="https://www.facebook.com/blackmonkgames/"><img src="https://ci3.googleusercontent.com/meips/ADKq_NZZP09rxAC89kdOLzEGNbZK6B6uonUuGkYDbXpRQcpzg2vuvkwrvMwn5nNlW4yi_CH9HPkCnsV-qJnHNyedXliTy0VNTJweXqguwfGEZMrVOH5biSzAOZnxH_01haDbkJG6Yq2s0v3-UzRxCiJNlmh0N93ZVXkVchD9Fn1ghC0=s0-d-e1-ft#https://nbwduv.stripocdn.email/content/assets/img/social-icons/circle-colored/facebook-circle-colored.png" alt="Facebook" style="width: 30px; padding: 5px"></a>
                            <a href="https://www.instagram.com/blackmonkgames/"><img src="https://ci3.googleusercontent.com/meips/ADKq_NYvZgDH7uakjSXaSzjPrn4i5L_JEQblwUjRRbYkq6SJ72Kb7bWEptJ0nc0w3in4MhOMgWKyBPlUpxfnnCVpfT6z4KsmENgNe-xcU1-_rmbhF5YTwjzfFtkexvA1tMbK7VKq6IqF8sD0ka97D9KbmjgaT8KIFmA_dMv4Oe25ihiU=s0-d-e1-ft#https://nbwduv.stripocdn.email/content/assets/img/social-icons/circle-colored/instagram-circle-colored.png" alt="Instagram" style="width: 30px; padding: 5px"></a>
                            <a href="https://www.youtube.com/channel/UC8BMHULgCcLPULwTshbpyKw"><img src="https://ci3.googleusercontent.com/meips/ADKq_NbDoqRgAqGvHNxRWSewUnahv4J1BqW1ReoaIhyI96zXW_hbCF01Y1qihVWO6t7SouTJ2TrhcXnVwio6oTjHmtOwu0qbNMO4Lr91V1hzf8fjyjc3PTf1-RRp5DobAZX0aSSQZQYtqmVVxeWC5W1o4gJ1J3ELHQribMUWX8grdw=s0-d-e1-ft#https://nbwduv.stripocdn.email/content/assets/img/social-icons/circle-colored/youtube-circle-colored.png" alt="Youtube" style="width: 30px; padding: 5px"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>