<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<head>
    <style>
        @media screen and (max-width: 600px) {
            
        }
    </style>
</head>
<body style="background-color: #eeeeee; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: small">
    <table style="width: 33%; background-color: #f7f7f7; align-content: center; margin-left: auto; margin-right: auto;">
        <tr>
            <td style="background-color: black;">
                <img src="https://blackmonk.pl/img/black-monk-games-logo-1632838248.jpg" alt="Logo">
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Cześć Katarzyna,</b></p>
            </td>
        </tr>
        <tr>
            <td>
                Dziękujemy za zakupy w naszym sklepie! Poniżej znajdziesz informacje o wysyłce oraz listę zakupionych produktów.
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        Paczki wysyłamy w ciągu 24h od złożenia zamówienia.
                    </li>
                    <li>
                        Jeżeli przynajmniej jeden z zakupionych produktów jest w PRZEDSPRZEDAŻY, to datę wysyłki należy sprawdzić w opisie tego produktu.
                    </li>
                    <li>
                        Wersje elektroniczne (PDF) wysyłamy w dni robocze między 15:00 a 20:00. Więcej informacji <a href="https://blackmonk.pl/content/15-wysylka-pdf">TUTAJ</a>.
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Zamówienie numer: 12345 (17.12.2025 08:00)</b></p>
            </td>
        </tr>
    </table>
    <table style="width: 33%; background-color: white; height: 100%; align-content: center; margin-left: auto; margin-right: auto;">
        <tr>
            <td>
                <p><b>Lista produktów:</b></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Smoczy Jeźdźcy: Prawdy Wybrane + PDF - 1x 249.90 PLN</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Koszt wysyłki:</b> 14.90 PLN</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Metoda płatności:</b> Zapłać z <a href="https://www.w3schools.com/tags/tag_colgroup.asp">paynow.pl</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Łączna cena:</b> 264.80 PLN</p>
            </td>
        </tr>
        <tr>
            <td>
                <b>Dane do płatności przelewem bankowym:</b><br>
                <b>Nazwa banku:</b> TestBank<br>
                <b>Nr konta:</b> 12 3456 7890 1234 5678 9012 3456<br>
                <b>Właściciel:</b> Blank Monk<br>
                <b>Adres:</b> ul. Testowa 1/2, 34-567 Poznań<br>
                <b>Tytuł przelewu:</b> 12345<br>
            </td>
        </tr>
    </table>
    <table style="width: 33%; background-color: #f7f7f7; height: 100%; align-content: center; margin-left: auto; margin-right: auto;">
        <tr>
            <td>
                <b>SKLEP BLACK MONK GAMES</b><br>
                UL. TESTOWA 1<br>
                34-567 POZNAN<br>
            </td>
            <td>
                <b><a href="https://blackmonk.pl/">BLANKMONK.PL</a></b><br>
                TEL.: +48123456789<br>
                <a href="https://blackmonk.pl/">test@test.pl</a><br>
            </td>
        </tr>
    </table>
</body>
</html>