<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<head>
    <style>
        @media screen and (max-width: 600px) {
            .container {
                width: 100% !important;
            }
        }
    </style>
</head>
<head>
    <style>
        @media screen and (max-width: 600px) {
            .container {
                width: 100% !important;
            }
        }
    </style>
</head>
<body style="background-color: #eeeeee; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif;">
    <table class="container" style="width: 33%;align-content: center; margin-left: auto; margin-right: auto; height: 100%; border-collapse: collapse;">
        <tr>
            <td style="padding: 0;">
                {{> Header}}
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background-color: #f7f7f7; align-content: center; padding: 30px;  font-size: 14px; height: 100%; width: 100%;">
                    <tr>
                        <td>
                            <p style="margin-top: 0; font-size: 20px"><b>Cześć {{UserName}},</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="line-height: 30px">Dziękujemy za zakupy w naszym sklepie! Poniżej znajdziesz informacje o wysyłce oraz listę zakupionych produktów.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul style="padding-left: 25px">
                                <li style="margin-bottom: 2px">
                                    Paczki wysyłamy w ciągu 24h od złożenia zamówienia.
                                </li>
                                <li style="margin-bottom: 2px">
                                    Jeżeli przynajmniej jeden z zakupionych produktów jest w PRZEDSPRZEDAŻY, to datę wysyłki należy sprawdzić w opisie tego produktu.
                                </li>
                                <li>
                                    <span style="color: grey">Wersje elektroniczne (PDF) wysyłamy w dni robocze między 15:00 a 20:00. Więcej informacji <a href="https://blackmonk.pl/content/15-wysylka-pdf">TUTAJ</a>.</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 45px">
                            <span style="font-size: 16px;"><b>Zamówienie numer: {{OrderNumber}} ({{OrderDate}})</b></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background-color: white;align-content: center; font-size: 15px; padding: 30px; height: 100%; width: 100%;">
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Lista produktów:</b>
                        </td>
                    </tr>
                    {{#each Products}}
                    <tr>
                        <td style="padding-bottom: 30px">
                            {{Name}} - {{Quantity}}x {{Price}} PLN
                        </td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Koszt wysyłki:</b> {{ShippingPrice}} PLN
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Metoda płatności:</b> Zapłać z <a href="{{paymentLink}}">paynow.pl</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px">
                            <b>Łączna cena:</b> {{TotalPrice}} PLN
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 30px; line-height: 25px">
                            <span>
                                <b>Dane do płatności przelewem bankowym:</b><br>
                                <b>Nazwa banku:</b> TestBank<br>
                                <b>Nr konta:</b> 12 3456 7890 1234 5678 9012 3456<br>
                                <b>Właściciel:</b> Black Monk<br>
                                <b>Adres:</b> ul. Testowa 1/2, 34-567 Poznań<br>
                                <b>Tytuł przelewu:</b> {{OrderNumber}}<br>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding-top: 40px; padding-bottom: 10px;">
                            <a href="{{OrderUrl}}" target="_blank" style="text-decoration: none; background-color: #ecb22c; color: white; padding: 16px 24px; font-size: 20px; border-radius: 4px;">Śledź swoje zamówienie</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table style="background-color: #f7f7f7; align-content: center; font-size: 15px; padding: 20px 20px 40px; line-height: 25px; height: 100%; width: 100%;">
                    <tr>
                        <td style="text-align: center; width: 50%;">
                            <b>SKLEP BLACK MONK GAMES</b><br>
                            UL. TESTOWA 1<br>
                            34-567 POZNAN<br>
                        </td>
                        <td style="text-align: center; width: 50%;">
                            <b><a href="https://blackmonk.pl/">BLANKMONK.PL</a></b><br>
                            TEL.: +48123456789<br>
                            <a href="https://blackmonk.pl/">test@test.pl</a><br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                {{> Footer}}
            </td>
        </tr>
    </table>
</body>
</html>
