<table style="background-color: black; padding: 10px; height: 100%; width: 100%;">
    <tr>
        <td style="background-color: black;">
            <img src="https://ci3.googleusercontent.com/meips/ADKq_NYWr-isKqf7y3t-XrqElIIonmDC3Wz1iziOShE3U0wtySAFlivcSOC6syuyDyLTrIDlIFTw4fIN3nYoMoH2HuEDai9A_SLzoRnlSlofTPVeTnTruBaTamnqi3jpXstLvVcoqvy9ZsxDhDWVUXGuKk44eQyxzDsHbIIIPdfIKoa7womLgJHSoA=s0-d-e1-ft#https://nbwduv.stripocdn.email/content/guids/CABINET_46c44f5cacb829aba996f866b8939d8e/images/1831603214618888.jpg" alt="Logo" style="width: 100%;">
        </td>
    </tr>
</table>
